# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.idea/.name
/cmake-build-debug/CMakeFiles/Progress/4
/cmake-build-debug/CMakeFiles/Progress/5
/cmake-build-debug/CMakeFiles/Progress/6
/cmake-build-debug/CMakeFiles/3.16.5/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.16.5/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.16.5/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/Progress/count.txt
/cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_CXX.bin
